#compiler-settings
cheetahVarStartToken = @
#end compiler-settings
#if @page == 1
<html>
<head>
<title>Cybercommons User Tasks</title>
<link type="text/css" href="http://static.cybercommons.org/css/cybercomui/jquery-ui-1.8.13.custom.css" rel="Stylesheet"/>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery-ui-1.8.10.custom.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery.cookie.js"></script>
<script>
    $(document).ready(function(){
        var page=2;
        var endPage= @endPage ;
        if (page >= endPage){$('#addrecords').hide(); }
        $('#addrecords').button();
        $('#addrecords').click(function(){
            var url= document.URL + '?pageNumber='.concat(page);
            $.get(url,function(data){page++; if (page >= endPage){$('#addrecords').hide(); } $('#tasktable').append(data);});
        });
    });
</script>
</head>
<body>
 <div id='usertasks'>
  <table id='tasktable' border = "1">
    <tfoot><tr class="ui-widget-header ui-corner-all" style="padding:2px;indent:2px;"><td colspan=3><button id='addrecords' style="font-size:14px;">Load additional tasks</button></td></tr></tfoot>
    <thead><tr class="ui-widget-header ui-corner-all" style="padding:2px;indent:2px;"><th colspan=3>Cybercommons User Tasks</th></tr>
    <tr class="ui-widget-header ui-corner-all" style="padding:2px;indent:2px;"><th>Task Name</th><th>Results</th><th>Timestamp</th></tr></thead>
  #for @task in @tasks
   <tr><td><strong>@task['task_name']</strong></td><td><a href="/queue/report/@task['task_id']" target="_blank">Task Results</a></td><td>@task['timestamp']</td></tr>
  #end for
  </table>
 </div>
</body>
</html>
#else
  #for @task in @tasks
    <tr><td><strong>@task['task_name']</strong></td><td><a href="/queue/report/@task['task_id']" target="_blank">Task Results</a></td><td>@task['timestamp']</td></tr>
  #end for
#end if
