{% extends 'flora/base.html' %}

{% block extra_js %}
<script type="text/javascript">
$( document ).ready( function() {
       $( '#searchSubmit' ).click( function() {
       	q = $( '#q' ).val();
	  $('#results' ).html( '&nbsp;' ).load( '{% url demo_user_search %}?q=' + q );           });


$('#Selct').dblclick( function() {
	var ss = $("select#Selct").val();

                  $('#results' ).html( '&nbsp;' ).load( '{% url demo_user_search %}?q=' + ss );
                $('#dialog').dialog("close");
});

//Load inital record
            $( '#results' ).html( '&nbsp;' ).load( '{% url demo_user_search %}?q=11');
$.jqplot.config.enablePlugins = true;
// Dialog
           $('#dialog').dialog({ autoOpen: false, width:800,resizable:false,
	         buttons: {"Ok": function() {
                  var ss = $("select#Selct").val();

                  $('#results' ).html( '&nbsp;' ).load( '{% url demo_user_search %}?q=' + ss );
                $(this).dialog("close");},
	         "Cancel": function() {$(this).dialog("close");
	        }}
           });
// Dialog Link
           $('#dialog_link').click(function(){
	    $('#dialog').dialog('open');
	    return false;
	    });
           });
$('#dialog_link, ul#icons li').hover(
       function() { $(this).addClass('ui-state-hover'); },
	function() { $(this).removeClass('ui-state-hover'); }
	);

$( document ).ajaxStart( function() {
	$( '#spinner' ).show();
}).ajaxStop( function() {
	$( '#spinner' ).hide();
$('#tabs').tabs();
});
</script>
<style type="text/css">
	#Selct {width: 100%; height:100%;}
	#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
	#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
	ul#icons {margin: 0; padding: 0;}
	ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
	ul#icons span.ui-icon {float: left; margin: 0 4px;}
       html,body,table#pagelayout {height:100%;width:90%;margin:auto;}
</style>

{% endblock %}
{% block main %}
<table>
<tr><br/></tr>
<tr> 
<div>
	
	<div class="margin">
              <p><a href="#" id="dialog_link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Search Floras</a></p>
		<span id="spinner"><img src="/static/images/ajax-loader.gif"/></span>
		<div id="results"></div>
              <input id="q" type="text"/>
	       <input id="searchSubmit" type="submit" value="Search"/><br/>
              <span class="hint">Type in a query string to search for Floras</span>

	</div>
       
</div>
</tr>
</table>
<!-- ui-dialog -->
<div id="dialog"  style="width: 800px; height: 800px;" resizable=False title="Select Flora">
<p>Please Select Flora Reference:<br/>
Label Title
</p>

<select id="Selct" size=20>
{% for r in select %}
   <option value="{{ r.Label}}">{{ r.Label}} = {{r.ShortTitle}}</option>
{% endfor %}
</select>
</div>
{% endblock %}
