<html>

<head>
<title>Cybercommons</title>
    <link type="text/css" href="http://static.cybercommons.org/css/cybercomui/jquery-ui-1.8.13.custom.css" rel="stylesheet" />      
    <link type="text/css" href="http://static.cybercommons.org/css/catalog/login.css" rel="stylesheet" /> 
    <script type="text/javascript" src="http://static.cybercommons.org/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="http://static.cybercommons.org/js/jquery-ui-1.8.10.custom.min.js"></script>
    <!--<script type="text/javascript" src="http://static.cybercommons.org/js/jquery.center.js"></script>-->
    <script type="text/javascript" src="http://static.cybercommons.org/js/jquery.form.js"></script>
    <script type="text/javascript" src="http://static.cybercommons.org/js/catalog/login.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            //jQuery('#content').center();
           // jQuery('#login').center();
        });
    </script>
</head>
<body style="margin-top:150px;">
    <div id="content">
    <div id="header" style="border-width: 0px;border-style:solid;border-color:#b3ab96;border-bottom-width: 2px;" >
         <img style="margin-left:45px " src="http://static.cybercommons.org/css/cyberlogo/CyberCommonsScreen.png" alt="Cybercommons Data Catalog" height="40"  align="middle">
    </div>
      {% block content %}{% endblock %}
    </div>
</body>
</html>

