#compiler-settings
cheetahVarStartToken = @
#end compiler-settings
#from base_html import base_html
#extends base_html
#def body
<table class="form-horizontal">
<tr><td style="width:10%"><a href='@baseurl/@FName/'>Database</a></td><td>@database</td></tr>
<tr><td><a href='@baseurl/@FName/@database/'>Collection</a></td><td>@collection (@rec_info['totalCollection'] Documents)</td></tr>
<tr><td><b>Filter</b></td><td>
    <div id="filter">
        <div id="filter_obj">
            <select id="keys1">
                #for @filterk in @key
                    <option value="@filterk">@filterk</option>
                #end for 
            </select>
            <select id="val1"></select>
            <div id='rst_filter'></div><div id='rst_fields'>
                #for @filterk in @key
                    '@filterk',
                #end for
            </div>
            <div id="field-dialog">
                Select Fields to display in query
                <ol id="selectable">
                    #for @filterk in @qkey
                    <li class="ui-widget-content ui-selected">@filterk</li>
                    #end for
                </ol>
            </div>
        </div>
        </br></br>
        <div id="tool_action">
            <button id="fopener" type="button">Select Fields Result Set</button>
            <button id="query" type="button">Query</button>
            <button id="export" type="button">Export Data as CSV</button></br>
            <div id="qryurl"></div>
        </div>
    </div><!--Endof filter-->
  </td></tr> </table>
<script>
function pageselectCallback(page_index, jq){
        //        alert(page_index);
        var page = page_index+1+''; 
        var url ="/mongodb/ajax_data/@database/@collection/" + qry + "?page=" + page
        $.getJSON(url,function(data){
            $('#jsoninput').val(JSON.stringify(data.data));//[0]['data']));
            var info = data.info;
            $('#info').html('<strong>Documents : </strong> ' + info['startRecord'] + ' - ' + info['endRecord'] + ' of ' + info['totalRecords']);
            $('#json_editor').html('');
            json_editor('json_editor',$('#jsoninput').val());
        });
}
function setPager(data_count,n_per_page,n_display_entries,n_edge_entries){
        var optInit = {callback: pageselectCallback,items_per_page:n_per_page,num_display_entries:n_display_entries,num_edge_entries:n_edge_entries,prev_text:"Prev",next_text:"Next"};
        $("#Pagination").pagination(data_count, optInit);


}
$(function () {
    setPager( @rec_info['totalRecords'] ,100,10,10);
    load_filter("@database","@collection","keys1");
    
});

//******************old************************************************************************************************
    function load_distinct(){
        $("#val1")
            .find('option')
            .remove()
            .end();
        var url = "/mongo/distinct/@database/@collection/" + $('#keys1').val() + "/{}/";
        $.getJSON(url,function(data){
             data.sort();
             $.each(data, function(key,value) {  
                    $('#val1')
                        .append($("<option></option>")
                        .attr("value",value)
                        .text(value)); 
                });
        });
    }
    $('#keys1').change( function(){
        $('#rst_filter' ).html('');
        load_filter_args("@database","@collection","val1",$('#keys1').val());
        //load_distinct();    
        $('#rst_filter' ).html('');
    });
    $('#val1').change( function(){
        $('#rst_filter' ).html( $('#keys1').val() + " : " + $('#val1').val() );
    });
    $('#query').click( function(){
        query("@database","@collection");
       // qry = "{'spec':{'"  + $('#keys1').val() + "':'" + $('#val1').val() + "'},'fields':[" + $('#rst_fields' ).text() + "]}"
       // var url ="/mongodb/json_data/@database/@collection/{'spec':{'"  + $('#keys1').val() + "':'" + $('#val1').val() + "'},'fields':[" + $('#rst_fields' ).text() + "]}/"
       // $.getJSON(url,function(data){
       //    $('#jsoninput').val(JSON.stringify(data[0]['data']));
       //    var info = data[0]['info']
       //     $('#info').html('<strong>Documents : </strong> ' + info['startRecord'] + ' - ' + info['endRecord'] + ' of ' + info['totalRecords']);
       //     $('#json_editor').html('');
       //     json_editor('json_editor',$('#jsoninput').val());
       //     setPager( info['totalRecords'] ,100,10,10);
       // });
    });
    function setdata(url){
        $.getJSON(url,function(data){
            $('#jsoninput').val(JSON.stringify(data[0]['data']));
            var info = data[0]['info']
            $('#info').html('<strong>Documents : </strong> ' + info['startRecord'] + ' - ' + info['endRecord'] + ' of ' + info['totalRecords']);
            $('#json_editor').html('');
            json_editor('json_editor',$('#jsoninput').val());
            $('#Page').pagination({
                items: info['totalRecords'],
                itemsOnPage: info['endRecord'] - info['startRecord'],
                cssStyle: 'light-theme'
            });
        });
    }
    $('#export').click( function(){
      var query = "{'spec':{'" + $('#keys1').val() + "':'" + $('#val1').val() + "'},'fields':[" + $('#rst_fields' ).text() + "]}"
      export_data("@database","@collection",query);
    });
    $('#rst_filter' ).html( $('#keys1').val() + " : " + $('#val1').val() );
</script>
    <textarea id="jsoninput" rows="35" cols="24">@serial</textarea>
    <div id="editarea" class="rounded">
    <div> <strong>Database:</strong> @database <strong>Collection:</strong> @collection</div> <div id='info'><strong>Documents:</strong> @rec_info['startRecord'] - @rec_info['endRecord'] of @rec_info['totalRecords']</div>
    <div id="Pagination" class="pagination"></div>
    <div id="json_editor" data-role="myjson"></div>
  </div>
#end def
